@font-face {
  src: url("../font/cafe24.ttf");
  font-family: "cafe24";
}

a {
  text-decoration: none;
  color: black
}

.title {
  font-family: "cafe24";
  text-align: center;
  color: hsl(187, 77%, 51%);
  font-size: 40px;
}

.serach_bar {
  width: 250px;
  border-width: 2px;
  border-color: hsl(187, 77%, 51%);
}